header {
  height: 400px;
  width: 100%;
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px;
  padding-bottom: 0.5px;
  justify-content: center;
  background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
}
#photo {
 height: 180px;
 margin-bottom: -60px;
}

#name {
  text-align: center;
}

#last-name {
  font-weight: 400;
}

@mixin vertical-align($alignment: center) {
  display: flex;
  align-items: $alignment;
  justify-content: center;
}

header {
  height: 400px;
  
  #photo {
    @include vertical-align(middle);
  }
}

