
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #3fa36b;
  color: #FFFFFF;
  padding: 0 1.5em;
  line-height: 120px;
  position: fixed;
}

div.write-tweet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#logo {
  font-family: Bungee;
  margin-right: auto;
}

.bold {
  font-family: "Source Sans 3", sans-serif;
  font-weight: bold;
}

@media (max-width: 500px) {
  nav {
    display: none;
  }
}
