@import '_variables';
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: $primary;
  color: $white;
  padding: 0 1.5em;
  line-height: 120px;
  position: fixed;

  #logo {
    font-family: $big-font;
    margin-right: auto;
  }

  div.write-tweet {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.bold {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: bold;
}

@media (max-width: 500px) {
  nav {
    display: none;
  }
}

